<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912691097790-emh53m5llfkmra5p28ajmbsb9pff7rku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912691097790-emh53m5llfkmra5p28ajmbsb9pff7rku</string>
	<key>API_KEY</key>
	<string>AIzaSyAgC7MUMMAdezciSbY4SkrFv1BSa3FUoWM</string>
	<key>GCM_SENDER_ID</key>
	<string>912691097790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxiApplication</string>
	<key>PROJECT_ID</key>
	<string>taxiapp-9b394</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiapp-9b394.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912691097790:ios:5995a199772e56aa70aeef</string>
</dict>
</plist>